@model CompanyStores.Web.Models.Company

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "list")
</p>
