@model IEnumerable<CompanyStores.Web.Models.Company>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "edit", new {  id=item.Id }) |
            @Html.ActionLink("Details", "details", new {  id=item.Id }) |
            @Html.ActionLink("Delete", "delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
